@import url("./assets/fonts/HelveticaNeue.ttc");

* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue";
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.landingPage {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/shutterstock_2189773743\ 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 4.375rem;
  display: none;
}
.landingPageHeader {
  padding: 1.5625rem 0;
  border-bottom: 1px solid #1a1a1a;
}
.landingPageHeaderLogo {
  width: 14.75rem;
}

.newResumeAndStamp {
  position: absolute;
  left: calc(50% - 14.5rem);
  top: calc(50% - 1.675rem);
}

.newResume {
  font-family: inherit;
  font-size: 1.25rem;
  width: 29rem;
  height: 3.75rem;
  background-color: #1a1a1a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 1.125rem 7.875rem;
}

.stamp {
  width: 18.6875rem;
  height: 18.6875rem;
  position: absolute;
  top: -2.5rem;
  right: -11.4375rem;
  z-index: -1;
}

.formsAndPreview {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 120rem;
  display: none;
}
.forms {
  position: relative;
  width: 100%;
  max-width: 68.625rem;
  min-height: 67.5rem;
  padding: 2.1875rem 9.375rem;
  display: flex;
  flex-direction: column;
}

.goToLandingPage {
  background-color: #ffffff;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  cursor: pointer;
}

.personalInfo {
  display: none;
  flex-direction: column;
}

.personalInfoHeader,
.experienceHeader,
.educationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1a1a1a;
  padding: 0.75rem 0;
  margin-bottom: 4.8125rem;
}

.headerTitle {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 700;
  color: #1a1a1a;
}

.pageNumber {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #1a1a1a;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 6.625rem; */
  margin-bottom: 3.375rem;
}

#firstName,
#lastName {
  height: 3rem;
  max-width: 23.1875rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 23.1875rem;
  height: 6.625rem;
}

.uploadImage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.0625rem;
}

#img {
  display: none;
}

.imgInputLabel {
  margin: 0;

  margin-right: 1rem;
}

.imgInput {
  background-color: #0e80bf;
  color: white;
  width: 6.6875rem;
  font-size: 0.875rem;
  padding: 0.3125rem 1.1875rem;
  border-radius: 4px;
  font-weight: 400;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.0625rem;
}

#aboutMeInput,
#aboutExperience,
#aboutEducation {
  margin-top: 0.5rem;
  padding: 0.875rem 1rem;
  border: 1px solid #bcbcbc;
  width: 100%;
  border-radius: 4px;
}

.email {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8125rem;
}

.phoneNumber {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10rem; */
}

.experience {
  display: none;
  flex-direction: column;
}

.experienceInputs {
  padding-bottom: 3.625rem;
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 2.8125rem;
}

.experienceInputsTemplate {
  display: none;
}

.position,
.employer {
  margin-bottom: 1.9375rem;
}

.experiencePeriod {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.0625rem;
}

.addExperience {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #62a1eb;
  border: none;
  border-radius: 4px;
  width: fit-content;
  /* margin-bottom: 7.1875rem; */
  padding: 0.875rem 1.3125rem;
}

.addInstitution {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #62a1eb;
  border: none;
  border-radius: 4px;
  width: fit-content;
  /* margin-bottom: 12.5rem; */
  padding: 0.875rem 1.3125rem;
}

.education {
  display: none;
  flex-direction: column;
}

.educationInputs {
  padding-bottom: 3.3125rem;
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 2.8125rem;
}
.educationInputsTemplate {
  display: none;
}

.institution {
  margin-bottom: 1.9375rem;
}

.graduation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.125rem;
}

.aboutExperience,
.aboutEducation {
  display: flex;
  flex-direction: column;
}

.hint {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #2e2e2e;
}

input,
select,
textarea {
  margin: 0.5rem 0;
  padding: 0.875rem 1rem;
  border: 1px solid #bcbcbc;
  width: 100%;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  appearance: none;
}
select::-ms-expand {
  display: none;
}

.selectAndArrow {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.selectArrow {
  position: absolute;
  width: 0.643125rem;
  right: 1.905625rem;
}

.backAndNextBtns {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  padding-top: 5rem;
  margin-bottom: 1.875rem;
  margin-top: auto;
}

.nextBtn,
.backBtn,
.submitBtn {
  width: auto;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #6b40e3;
  border: none;
  border-radius: 4px;
  padding: 0.875rem 2.1875rem;
  cursor: pointer;
}

.backBtn {
  display: none;
}

.nextBtn {
  display: none;
  margin-left: auto;
}

.submitBtn {
  display: none;
  margin-left: auto;
}

.resPreview {
  width: 51.375rem;
  min-height: 67.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-weight: 400;
}


.inputAndIcons {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.validIcon,
.invalidIcon {
  position: absolute;
  display: none;
}

.validIcon {
  right: 1rem;
  width: 1rem;
}

.invalidIcon {
  right: -1.84375rem;
  width: 1.3125rem;
}

.valid ~ .validIcon {
  display: inline-block;
}

.invalid ~ .invalidIcon {
  display: inline-block;
}

.valid {
  border: 1px solid #98e37e;
}

.invalid {
  border: 1px solid #EF5050;
}


.resPreview {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.resName span {
  margin-bottom: 1rem;
  max-width: 26.5rem;
  display: inline-block;
}

h1 {
  margin: 0;
  font-size: 2.125rem;
  line-height: 2.625rem;
}

hr {
  height: 5px;
  border-top: 1px solid black;
}

h1,
h3 {
  color: #f93b1d;
  font-variant: all-small-caps;
}

h1 {
  font-size: 3.5rem;
}

h3 {
  margin: 1rem 0;
  font-size: 2rem;
}

.resPersonalInfo {
  padding-bottom: 0.375rem;
  position: relative;
}

.imgRes {
  position: absolute;
  width: 15.375rem;
  height: 15.375rem;
  border-radius: 50%;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: -1.25rem;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 10px;
}

.resContact {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

.aboutMeRes,
h1 {
  max-width: 26.5rem !important;
}

.resMailAndIcon,
.resPhoneNumberAndIcon {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.625rem;
}

.resMailIcon,
.resPhoneIcon {
  margin-right: 0.729375rem;
  display: none;
}

.resAboutMeHeading {
  display: none;
}

.resPositionAndEmployer,
.resInstitutionAndDegree {
  font-weight: 500;
  display: flex;
}

.resInstitutionAndDates {
  display: flex;
  flex-direction: column;
}

.resPositionAndDates {
  display: flex;
  flex-direction: column;
}

.resExperienceDates {
  display: flex;
}

.resExperienceDates,
.resGradYear {
  font-weight: 400;
  font-style: italic;
  color: #909090;
}

.resExperience,
.resEducation {
  border-top: 1px solid #c8c8c8;
  padding: 0.375rem 0;
  /* display: none; */
}

.resStarIcon {
  width: 2.625rem;
  margin-top: auto;
}

.resItem { 
  display: none;
}

.hide {
  display: none;
}
.show {
  display: flex;
}

.directionColumn {
  flex-direction: column;
}

